@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Satisfy&display=swap');

body
{
	background: grey;
    margin:0;
	font-family:'Satisfy', cursive;
	display: block;
	position:fixed;
	top: 0;
	left: 0;
	width: 50%;
	
}

#ptitbande{
	background: black;
	padding: 1px;
}

#Dark{
	display: block;
	position:fixed;
	top: 0;
	right: 0;
	width: 50%;
	height:100%;
	background-color:#6D071A;
}

#Baizodrome{
	text-align:right;
	color:white;
}

#Soft{
	
	
	background-color:grey;
	
}

#SoftMode{
	
	margin-left:50%;
	margin-top:50%;
	color:white;
	
}

#HardCoreMode{
	
	margin-left:50%;
	margin-top:50%;
	background-color:black;
	display:block;
	width:150px;
	line-height:50px;
	text-align:center;
	vertical-align:middle;
	
	color:black;
	text-decoration:none;

}


